@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap');

$color_white: #FFFFFF;
$color_grey_dark: #4a4a4a;
$color_grey_bright: dimgray;
$color_background_gradient_black: linear-gradient(42.33deg, #000000 -12.89%, #363636 91.62%);
$color_background_gradient_orange: linear-gradient(42.33deg, #FFA55D -12.89%, #FFDACB 91.62%);

//IPHONE
html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.3px;
}

body {
  display: flex;

}

.block {
  width: 280px;
  height: 464px;
  background: $color_background_gradient_orange;
  //margin: 50% auto;
  border-radius: 46px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.block__text-wrapper {
  background: $color_background_gradient_black;
  border-radius: 46px;
  margin: 2px;
  width: 276px;
  height: 460px;
  align-items: center;
  overflow: hidden;
  padding: 20px 5px;
  display: inline-block;
}

.block__scrollable {
  margin: 27px 42px 0 25px;
  width: 232px;
  height: 420px;
  padding-right: 20px;
  color: $color_white;
  text-align: left;
  vertical-align: top;
  overflow-y: auto;
  position: relative;
}

.block__scrollable__item {
  margin-bottom: 15px;
}

.block__scrollable::-webkit-scrollbar {
  width: 4px;
}

.block__scrollable::-webkit-scrollbar-track {
  margin-bottom: 54px;
  background: $color_grey_dark;
}

.block__scrollable::-webkit-scrollbar-thumb {
  background-color: $color_white;
}

.block__scrollable::-webkit-scrollbar-thumb:hover {
  background: $color_grey_bright;
}
// padding not dynamic?

//DESKTOP
@media screen
and (min-width: 380px)
and (max-width : 2400px) {
  .block {
    width: 60%;
    height: 60%;
    margin: 12% auto 0;
    //padding: 120px 120px 0;

    padding-top: 120px;
    padding-left: 12%;
    padding-right: 12%;

    background-image: url(./bg.svg);
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    position: relative;
    min-width: 768px;
    //max-width: 1102px;
    max-width: 1800px;
    min-height: 386px;
    max-height: 695px;
  }

  .block__text-wrapper {
    position: relative;
    background: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .block__scrollable{
    margin: 0;
    //padding: 0;
    padding-right: 60px;
    width: 100%;
    height: 100%;
  }

  .block__scrollable__item{
    font-size: 1.6rem;
  }
}


// IPAD PORTRAIT
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .block {
    padding: 220px 120px 90px;
  }

  .block__scrollable__item{
    font-size: 1.6rem;
  }
}

